@{
    ViewData["Title"] = "Library Home Page";
}

<div class="container mt-4">
    <header class="text-center">
        <h1 class="display-4">Welcome to the Online Library</h1>
        <p class="lead">Discover books, authors, and genres to expand your knowledge and imagination.</p>
        <a href="/Books/Index" class="btn btn-primary btn-lg">Browse Books</a>
    </header>

</div>
